@model PokemonDetailViewModel

@{
	ViewData["Title"] = Model.pokemon?.Name ?? "Pokemon Not Found";
}

<div class="main-inner">
	<div class="content">
		<div class="pokemon-detail">
			<img class="pokemon-image" src=@("/images/"+@Model.pokemon?.IndexId+".png") />
			<div class="pokemon-info">
				<div class="pokemon-name">No.@Model.pokemon?.IndexId @Model.pokemon?.Name</div>
				<div class="pokemon-type">
					@foreach (var type in Model.pokemon?.Type.Split(", ") ?? Array.Empty<string>())
					{
						<span class="type-badge" data-type="@type">@type</span>
					}
				</div>
				<div class="pokemon-description">@Model.pokemon?.Description</div>
			</div>
		</div>
	</div>
	<div class="sidebar">
		@foreach (var pokemon in Model.pokemons ?? Enumerable.Empty<Pokemon>())
		{
			<a asp-action="Detail" asp-route-id="@pokemon.IndexId">
				<div class="name"><span>No.@pokemon.IndexId</span>@pokemon.Name</div>
			</a>
		}
	</div>
</div>